{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>{{ theme.name }}</h1>
                <p>{{ theme.description }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% set paginationvar %}
                    {% if pagination != [] %}
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                <li class="page-item {% if active == 1 %}disabled{% endif %}">
                                    <a class="page-link" href="{{ path('theme', {'id': theme.id, 'page': 1}) }}" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                </li>
                                {% if active != 1 %}
                                    <li class="page-item">
                                        <a class="page-link" href="{{ path('theme', {'id': theme.id, 'page': active-1}) }}" aria-label="Previous">
                                            <span aria-hidden="true">‹</span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                    </li>
                                {% endif %}
                                {% for page in pagination %}
                                    <li class="page-item {% if page == active %}active{% endif %}"><a class="page-link" href="{{ path('theme', {'id': theme.id, 'page': page}) }}">{{ page }}</a></li>
                                {% endfor %}
                                {% if active != max %}
                                    <li class="page-item">
                                        <a class="page-link" href="{{ path('theme', {'id': theme.id, 'page': active+1}) }}" aria-label="Previous">
                                            <span aria-hidden="true">›</span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                    </li>
                                {% endif %}
                                <li class="page-item {% if active == max %}disabled{% endif %}">
                                    <a class="page-link" href="{{ path('theme', {'id': theme.id, 'page': max}) }}" aria-label="Previous">
                                        <span aria-hidden="true">»</span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    {% endif %}
                {% endset %}
                {{ paginationvar }}
                <table class="table">
                    <tbody>
                    {% if discussions != [] %}
                        {% for discussion in discussions %}
                            <tr>
                                <td><p>Par <a href="#">{{ discussion.username }}</a> le {{ discussion.date|date('d/m/Y') }} à {{ discussion.date|date('h:m') }}</p><p class="discussion-content">{{ discussion.content }}</p></td>
                                {% if is_granted("ROLE_ADMIN") %}
                                    <td class="text-right">
                                        <a href="javascript:void(0)" data-toggle="modal" data-target="#supprimerModal" data-id="{{ discussion.id }}" data-path="{{ path('delete_discussion') }}">Supprimer</a><br>
                                        <a href="javascript:void(0)" data-toggle="modal" data-target="#editModal" data-id="{{ discussion.id }}" data-path="{{ path('edit_discussion') }}">Editer</a>
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    {% else %}
                        Il n'y a aucune discussion
                    {% endif %}
                    </tbody>
                </table>
                {{ paginationvar }}
            </div>
        </div>
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <div class="row">
                <div class="col">
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <button type="submit" class="btn btn-primary">Envoyer</button>
                    <button id="close" class="btn btn-dark">Fermer</button>
                    {{ form_end(form) }}
                </div>
            </div>
        {% endif %}
        {% if is_granted("ROLE_ADMIN") %}
            <div class="modal fade" id="supprimerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Supprimer discussion</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>Voulez-vous vraiment supprimer la discussion ?</p>
                        </div>
                        <div class="modal-footer">
                            <a href="#" type="button" class="btn btn-danger">Supprimer</a>
                            <button type="button" class="btn btn-dark" data-dismiss="modal">Fermer</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Modifier discussion</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="news"></div>
                            <div class="form-group">
                                <label for="textarea"></label>
                                <textarea id="textarea" class="form-control"></textarea>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <a href="#" type="button" class="btn btn-primary">Sauvegarder</a>
                            <button type="button" class="btn btn-dark" data-dismiss="modal">Fermer</button>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}